<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">
                <h2 style="color: white;">Tous les candidats</h2>
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" routerLink="/home">home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item" routerLink="/candidat">candidat</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">liste candidats</li>
        </ol>
    </div>
</div>

<ul class="nav nav-pills nav-pills-rose">
    <li class="nav-item tab-all">
        <button routerLink="/candidat" class="button"><span>liste candidats</span> </button>
    </li>

    <li class="nav-item tab-all">
        <button routerLink="/addCandidat" class="button"><span>ajouter candidat</span></button>
    </li>
</ul>

<div class="tab-content tab-space ">
    <div class="tab-pane active show " id="tab1 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card-box ">
                    <!--recherche candidat-->
                    <form class="search-form-opened" style="background-color: rgb(36, 33, 33);margin-left: 80%;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Chercher...">

                            <span><a href="" class="btn submit">
                      <i class="fa fa-search"></i> </a>
                     </span>
                        </div>
                    </form>
                    <!--recherche candidat-->
                    <div class="card-head ">
                        <button id="panel-button " class="mdl-button mdl-js-button mdl-button--icon pull-right " data-upgraded=",MaterialButton ">
        <i class="material-icons ">more_vert</i>
      </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect " data-mdl-for="panel-button ">
                            <li class="mdl-menu__item "><i class="material-icons ">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item "><i class="material-icons ">print</i>Another action
                            </li>
                            <li class="mdl-menu__item "><i class="material-icons ">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable ">
                            <table class="table table-hover table-checkable order-column full-width " id="example4 ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="center ">civilité</th>
                                        <th class="center ">nom</th>
                                        <th class="center ">prénom</th>
                                        <th class="center ">Date_de_naissance</th>
                                        <th class="center ">email</th>
                                        <th class="center ">telephonne</th>
                                        <th class="center ">adress</th>
                                        <th class="center ">ville</th>
                                        <th class="center ">code postal</th>
                                        <th class="center ">pays</th>
                                        <th class="center ">etat candidat</th>
                                        <th class="center ">provenance</th>
                                        <th class="center ">disponibllité</th>
                                        <th class="center ">mobilité</th>
                                        <th class="center ">responsable manager</th>
                                        <th class="center ">agence</th>
                                        <th class="center ">evaluation</th>
                                        <th class="center "> Action </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX " *ngFor="let condidat of candidats">
                                        <td class="user-circle-img sorting_1 ">
                                            <img src="../../assets/img/user/user1.jpg " alt=" ">
                                        </td>
                                        <!--debut contenu  forms data-->


                                        <td>{{condidat.civilite}}</td>
                                        <td>{{condidat.nom}}</td>
                                        <td>{{condidat.prenom}}</td>
                                        <td>{{condidat.Date_de_naissance}}</td>
                                        <td>{{condidat.email}}</td>
                                        <td>{{condidat.telephonne}}</td>
                                        <td>{{condidat.adress}}</td>
                                        <td>{{condidat.ville}}</td>
                                        <td>{{condidat.code_postal}}</td>
                                        <td>{{condidat.pays}}</td>
                                        <td>{{condidat.etat_condidat}}</td>
                                        <td>{{condidat.provenance}}</td>
                                        <td>dans 3 mois</td>
                                        <td>Ile de france</td>
                                        <td>{{condidat.responsable_manager}}</td>
                                        <td>{{condidat.agence}}</td>
                                        <td>{{condidat.evaluation}}</td>
                                        <!--fin contenu forms data-->


                                        <td class="center ">
                                            <button class="btn btn-tbl-edit btn-xs " [routerLink]="['/updateCandidat',condidat.id_condidat]">


                                              <i class="fa fa-pencil "></i>
                                          </button>
                                            <button class="btn btn-tbl-delete btn-xs " (click)="deleteId(condidat.id_condidat)">
                                              <i class="fa fa-trash-o "></i>
                                          </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div><span></span></div>
<div><span></span></div>
<div><span></span></div>
<div><span></span></div>
