<!-- !PAGE CONTENT! -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">
                <h2 style="color: white;">Tous les projets</h2>
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" routerLink="/home">home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item" routerLink="/projet">projet</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">liste projets</li>
        </ol>
    </div>
</div>
<ul class="nav nav-pills nav-pills-rose">
    <li class="nav-item tab-all">
        <button routerLink="/projet" class="button"><span>liste projets</span> </button>
    </li>

    <li class="nav-item tab-all">
        <button routerLink="/addProjet" class="button"><span>ajouter projet</span></button>
    </li>
</ul>
<div class="tab-content tab-space ">
    <div class="tab-pane active show " id="tab1 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card-box ">
                    <!--recherche sociétès-->
                    <form class="search-form-opened" style="background-color: rgb(36, 33, 33);margin-left: 80%;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Chercher...">

                            <span><a href="" class="btn submit">
                        <i class="fa fa-search"></i> </a>
                       </span>
                        </div>
                    </form>
                    <!--recherche projets-->
                    <div class="card-head ">
                        <button id="panel-button " class="mdl-button mdl-js-button mdl-button--icon pull-right " data-upgraded=",MaterialButton ">
          <i class="material-icons ">more_vert</i>
        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect " data-mdl-for="panel-button ">
                            <li class="mdl-menu__item "><i class="material-icons ">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item "><i class="material-icons ">print</i>Another action
                            </li>
                            <li class="mdl-menu__item "><i class="material-icons ">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable ">
                            <table class="table table-hover table-checkable order-column full-width " id="example4 ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="center ">nom_societe</th>
                                        <th class="center ">titre_besoin</th>
                                        <th class="center ">candidat_nom</th>
                                        <th class="center ">candidat_prenom</th>
                                        <th class="center "> client_nom</th>
                                        <th class="center ">client_prenom</th>
                                        <th class="center ">etat_positionnement</th>
                                        <th class="center ">etat_projet</th>
                                        <th class="center ">commentaire</th>
                                        <th class="center "> Action </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX " *ngFor="let projet of projets">
                                        <td class="user-circle-img sorting_1 ">
                                            <img src="../../assets/img/user/user1.jpg " alt=" ">
                                        </td>
                                        <!--debut contenu  forms data-->


                                        <td>{{projet.nom_societe}}</td>
                                        <td>{{projet.titre_besoin}}</td>
                                        <td>{{projet.candidat_nom}}</td>
                                        <td>{{projet.candidat_prenom}}</td>
                                        <td>{{projet. client_nom}}</td>
                                        <td>{{projet.client_prenom}}</td>
                                        <td>{{projet.etat_positionnement}}</td>
                                        <td>{{projet.etat_projet}}</td>
                                        <td>{{projet.commentaire}}</td>
                                        <!--fin contenu forms data-->

                                        <td class="center ">
                                            <button class="btn btn-tbl-edit btn-xs " [routerLink]="['/updateProjet',projet.id_projet]">

                                            <i class="fa fa-pencil "></i>
                                        </button>
                                            <button class="btn btn-tbl-delete btn-xs " (click)="deleteId(projet.id_projet)">
                                            <i class="fa fa-trash-o "></i>
                                        </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- End page content -->
</div>
