            .octopus {
                float: left;
                top: 2px;
                height: 55px;
                width: 180px;
            }

            a {
                color: orange
            }
