h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
}

h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
}

.nav-fix {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
}

.logo-img {
    width: 200px;
    height: 58px;
}