<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <h2 style="color: white;">modifier client</h2>
                <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
    <i class="material-icons">more_vert</i>
  </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here
                    </li>
                </ul>
            </div>

            <!-- Header -->
            <!--  show msg erreur errormsg-->
            <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong style="color: black;">{{errormsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!--  show msg success message -->
            <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong style="color: black;">{{successmsg}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form (ngSubmit)="modifier()" [formGroup]="clientForm">
                <fieldset>
                    <div class class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="civilite" type="text" required>
                                <label class="mdl-textfield__label">civilite</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="nom" type="text" required>
                                <label class="mdl-textfield__label">nom</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="prenom" type="text" required>
                                <label class="mdl-textfield__label">prenom</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="fonction" type="text" required>
                                <label class="mdl-textfield__label">fonction</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="service" required>
                                <label class="mdl-textfield__label">service</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="provenance" required>
                                <label class="mdl-textfield__label">Provenance</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="libellet_preciser" type="text" required>
                                <label class="mdl-textfield__label">plus d'information</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="ressource" required>
                                <label class="mdl-textfield__label">ressource</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="agence" type="text" required>
                                <label class="mdl-textfield__label">agence</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="societe" required>
                                <label class="mdl-textfield__label">societe</label>
                            </div>
                        </div>

                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="etat_client" type="text" required>
                                <label class="mdl-textfield__label">etat_client</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="email" type="text" required>
                                <label class="mdl-textfield__label">email</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="telephonne" type="text" required>
                                <label class="mdl-textfield__label">telephonne</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="adress" type="text" required>
                                <label class="mdl-textfield__label">Adress</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="code_postal" type="text" required>
                                <label class="mdl-textfield__label">Code postal</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="ville" type="text" required>
                                <label class="mdl-textfield__label">Ville</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="pays" type="text" required>
                                <label class="mdl-textfield__label">Pays</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="commentaire" type="text " required>
                                <label class="mdl-textfield__label ">commentaire</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20 ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width ">
                                <input class="mdl-textfield__input " formControlName="domaine" required>
                                <label class="mdl-textfield__label ">domaine</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20 ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width ">
                                <input class="mdl-textfield__input " formControlName="outils" required>
                                <label class="mdl-textfield__label ">outils</label>
                            </div>
                        </div>






                        <div class="col-lg-12 p-t-20 text-center ">
                            <button type="btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink ">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>



        </div>
    </div>
</div>
