<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <h5 class="w3-xxxlarge w3-text-red"><b>Ressource</b></h5>
        <hr style="width:50px;border:3px solid red" class="w3-round">
    </div>
    <div class="card" style="background-color: rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px;">
        <form action="/action_page.php" target="_blank">
            <div class="w3-section">
                <h2>Recherche</h2>
                <input class="w3-input w3-border" type="text" name="Recherche" placeholder="nom de la ressource" required>
            </div>

            <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">chercher</button>
        </form>
    </div>
    <br>
    <div class="card " style="background-color: rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom"></div>
            <div class="w3-col m4 w3-margin-bottom"></div>
            <div class="w3-col m4 w3-margin-bottom">
                <div>
                    <div class="w3-container ">
                        <div>
                            <h3 style="font-size: 20px; color: #f0372a!important;">
                                +créer une ressource

                            </h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class=" card " style="background-color: rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">
        <h2>toutes les ressources</h2>
        <div class="w3-responsive ">
            <table class="w3-table-all ">
                <tr>
                    <th scope="col ">civilité</th>
                    <th scope="col ">nom</th>
                    <th scope="col ">prénom</th>
                    <th scope="col ">type ressource</th>
                    <th scope="col ">email</th>
                    <th scope="col ">telephonne</th>
                    <th scope="col ">adress</th>

                    <th scope="col ">code postal</th>
                    <th scope="col ">ville</th>
                    <th scope="col ">pays</th>
                    <th scope="col ">etat ressource</th>
                    <th scope="col ">TJM</th>
                    <th scope="col ">devise</th>
                    <th scope="col ">disponibllité</th>
                    <th scope="col ">mobilité</th>

                    <th scope="col ">commantaire</th>

                    <th scope="col ">details</th>
                    <th scope="col ">modifier</th>
                </tr>
                <tr>

                    <td>AAAAAAAAA</td>
                    <td>BBBBBBBBB</td>
                    <td>CCCCCCCCC</td>
                    <td>DDDDDDDDD</td>
                    <td>EEEEEEEEE</td>
                    <td>FFFFFFFFF</td>
                    <td>AAAAAAAAA</td>
                    <td>BBBBBBBBB</td>
                    <td>CCCCCCCCC</td>
                    <td>DDDDDDDDD</td>
                    <td>EEEEEEEEE</td>
                    <td>FFFFFFFFF</td>
                    <td>AAAAAAAAA</td>
                    <td>BBBBBBBBB</td>
                    <td>CCCCCCCCC</td>
                    <td>DDDDDDDDD</td>
                    <td> <button type="button " class="btn btn-default btn-sm " style="background-color:rgb(235, 210, 129); ">
                  <span class="glyphicon glyphicon-list "></span> detail
                </button>
                    </td>
                    <td>
                        <button type="button " class="btn btn-default btn-sm " style="background-color:rgb(235, 210, 129); ">
                    <span class="glyphicon glyphicon-check "></span> modifier
                  </button>

                </tr>

            </table>
        </div>
    </div>






    <!-- End page content -->
</div>