<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">
                <h2 style="color: white;">Tous les besoins</h2>
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" routerLink="/home">home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item" routerLink="/besoin">besoin</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">liste besoins</li>
        </ol>
    </div>
</div>

<ul class="nav nav-pills nav-pills-rose">
    <li class="nav-item tab-all">
        <button routerLink="/besoin" class="button"><span>liste besoins</span> </button>
    </li>

    <li class="nav-item tab-all">
        <button routerLink="/addBesoin" class="button"><span>ajouter besoin</span></button>
    </li>
</ul>

<div class="tab-content tab-space ">
    <div class="tab-pane active show " id="tab1 ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="card-box ">
                    <!--recherche besoin-->
                    <form class="search-form-opened" style="background-color: rgb(36, 33, 33);margin-left: 80%;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Chercher...">

                            <span><a href="" class="btn submit">
                        <i class="fa fa-search"></i> </a>
                       </span>
                        </div>
                    </form>
                    <!--recherche besoin-->
                    <div class="card-head ">
                        <button id="panel-button " class="mdl-button mdl-js-button mdl-button--icon pull-right " data-upgraded=",MaterialButton ">
          <i class="material-icons ">more_vert</i>
        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect " data-mdl-for="panel-button ">
                            <li class="mdl-menu__item "><i class="material-icons ">assistant_photo</i>Action</li>
                            <li class="mdl-menu__item "><i class="material-icons ">print</i>Another action
                            </li>
                            <li class="mdl-menu__item "><i class="material-icons ">favorite</i>Something else here</li>
                        </ul>
                    </div>
                    <div class="card-body ">
                        <div class="table-scrollable ">
                            <table class="table table-hover table-checkable order-column full-width " id="example4 ">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="center ">titre</th>
                                        <th class="center ">réfèrence besoin</th>
                                        <th class="center ">nom client</th>
                                        <th class="center ">nom sociétè</th>
                                        <th class="center ">état besoin</th>
                                        <th class="center ">étape besoin</th>
                                        <th class="center ">discription</th>
                                        <th class="center ">domaine</th>
                                        <th class="center ">devis</th>
                                        <th class="center ">budet envisagegé</th>
                                        <th class="center ">pondération</th>
                                        <th class="center ">ca envisagé</th>
                                        <th class="center ">ca pondéré</th>
                                        <th class="center ">durée</th>
                                        <th class="center ">date démarrage</th>
                                        <th class="center ">date réponse</th>
                                        <th class="center ">date clôture</th>
                                        <th class="center ">commentaire</th>
                                        <th class="center "> Action </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX " *ngFor="let besoin of besoins">
                                        <td class="user-circle-img sorting_1 ">
                                            <img src="../../assets/img/user/user1.jpg " alt=" ">
                                        </td>
                                        <!--debut contenu  forms data-->


                                        <td>{{besoin.titre}}</td>
                                        <td>{{besoin.reference_besoin}}</td>
                                        <td>{{besoin.nom_client}}</td>
                                        <td>{{besoin.nom_societe}}</td>
                                        <td>{{besoin.etat_besoin}}</td>
                                        <td>{{besoin.type_besoin}}</td>
                                        <td>{{besoin.discription}}</td>
                                        <td>{{besoin.domaine}}</td>
                                        <td>{{besoin.devis}}</td>
                                        <td>{{besoin.budget_envisage}}</td>
                                        <td>{{besoin.ponderation}}</td>
                                        <td>{{besoin.ca_envisage}}</td>
                                        <td>{{besoin.ca_pondere}}</td>
                                        <td>{{besoin.duree}}</td>
                                        <td>{{besoin.date_demarrage}}</td>
                                        <td>{{besoin.date_cloture}}</td>
                                        <td>{{besoin.date_reponse}}</td>
                                        <td>{{besoin.commentaire}}</td>
                                        <!--fin contenu forms data-->

                                        <td class="center ">
                                            <button class="btn btn-tbl-edit btn-xs " [routerLink]="['/updateBesoin',besoin.id_besoin]">

                                              <i class="fa fa-pencil "></i>
                                          </button>
                                            <button class="btn btn-tbl-delete btn-xs " (click)="deleteId(besoin.id_besoin)">
                                              <i class="fa fa-trash-o "></i>
                                          </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
