<!-- Photo grid (modal) -->
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->

    <div class="w3-row-padding">
        <div class="w3-half">

            <div class="w3-container" id="contact" style="margin-top:75px">
                <h1 class="w3-xxxlarge w3-text-red"><b>Créer un candidat.</b></h1>
                <hr style="width:50px;border:5px solid red" class="w3-round">
                <div class="card " style="background-color:  rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <form target="_blank">
                        <div class="w3-section">
                            <h2>information personelle</h2>
                            <label>Civilité</label>
                            <input class="w3-input w3-border" type="text" name="Civilite" required>
                        </div>
                        <div class="w3-section">
                            <label>Name</label>
                            <input class="w3-input w3-border" type="text" name="Name" required>
                        </div>

                        <div class="w3-section">
                            <label>Prenom</label>
                            <input class="w3-input w3-border" type="text" name="Prenom" required>
                        </div>
                        <div class="w3-section">
                            <label>date de naissance</label>
                            <input class="w3-input w3-border" type="text" name="naissance" required>
                        </div>
                        <div class="w3-section">
                            <label>Disponibilité</label>
                            <input class="w3-input w3-border" type="text" name="disponibilite" required>
                        </div>
                        <div class="w3-section">
                            <label>Mobilité</label>
                            <input class="w3-input w3-border" type="text" name="Mobilite" required>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="w3-half">
            <div class="w3-container" id="contact" style="margin-top:75px">
                <br>
                <br>
                <br><br><br><br>
                <div class="card " style="background-color:  rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <form target="_blank">
                        <div class="w3-section">
                            <h2>Coordonnées</h2>
                            <label>adress mail</label>
                            <input class="w3-input w3-border" type="text" name="Email" required>
                        </div>
                        <div class="w3-section">
                            <label>Telephonne</label>
                            <input class="w3-input w3-border" type="number" name="Telephonne" required>
                        </div>

                        <div class="w3-section">
                            <label>Adress</label>
                            <input class="w3-input w3-border" type="text" name="Adress" required>
                        </div>
                        <div class="w3-section">
                            <label>Ville</label>
                            <input class="w3-input w3-border" type="text" name="Ville" required>
                        </div>
                        <div class="w3-section">
                            <label>Code postal</label>
                            <input class="w3-input w3-border" type="number" name="code" required>
                        </div>
                        <div class="w3-section">
                            <label>pays</label>
                            <input class="w3-input w3-border" type="text" name="pays" required>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="w3-container" id="contact" style="margin-top:75px">
            <div class="w3-container" id="contact" style="margin-top:40px">
                <div class=" card " style="background-color: rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <form action="/action_page.php " target="_blank ">
                        <div class="w3-section ">
                            <h2>Etat candidat</h2>
                            <label>etat candidat</label>
                            <input class="w3-input w3-border " type="text " name="etat " required>
                        </div>
                        <div class="w3-section ">
                            <label>Evaluation</label>
                            <input class="w3-input w3-border " type="number " name="Evaluation " required>
                        </div>
                        <div class="w3-section ">
                            <label>Provenance</label>
                            <input class="w3-input w3-border " type="number " name="code " required>
                        </div>

                        <div class="w3-section ">
                            <label>Responsable manager</label>
                            <input class="w3-input w3-border " type="text " name="Responsable " required>
                        </div>
                        <div class="w3-section ">
                            <label>Agence</label>
                            <input class="w3-input w3-border " type="text " name="Agence " required>
                        </div>
                        <div class="w3-section ">
                            <label>Commentaire</label>
                            <input class="w3-input w3-border " type="textarea" name=" Commentaire" class="form-control " rows="3 " required>
                        </div>



                    </form>
                </div>
            </div>


        </div>
    </div>
    <button type="submit " class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom ">Créer candidat</button>



</div>