<!-- Photo grid (modal) -->
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <form #f="ngForm" (ngSubmit)="ajout(f)">

    <div class="w3-row-padding">

        <div class="w3-half">
                <div class="w3-container" id="contact" style="margin-top:75px">
                    <h1 class="w3-xxxlarge w3-text-red"><b>Créer un candidat.</b></h1>
                    <hr style="width:50px;border:5px solid red" class="w3-round">
                    <div class="card "
                        style="background-color:  rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">


                        <div class="w3-section">
                            <h2>information personelle</h2>
                            <label>Civilité</label>
                            <input class="w3-input w3-border" #civilite="ngModel" [(ngModel)]="candidat.civilite"type="text" name="Civilite" required>
                        </div>
                        <div class="w3-section">
                            <label>Name</label>
                            <input class="w3-input w3-border" #name="ngModel" [(ngModel)]="candidat.nom"type="text" name="Name" required>
                        </div>

                        <div class="w3-section">
                            <label>Prenom</label>
                            <input class="w3-input w3-border" #prenom="ngModel" [(ngModel)]="candidat.prenom" type="text" name="Prenom" required>
                        </div>
                        <div class="w3-section">
                            <label>date de naissance</label>
                            <input class="w3-input w3-border" #date="ngModel" [(ngModel)]="candidat.Date_de_naissance"type="text" name="naissance" required>
                        </div>
                        <div class="w3-section">
                            <label>Disponibilité</label>
                            <input class="w3-input w3-border" #disponibilite="ngModel"  [(ngModel)]="candidat.disponibilite"type="text" name="disponibilite" required>
                        </div>
                        <div class="w3-section">
                            <label>Mobilité</label>
                            <input class="w3-input w3-border" #mobilite="ngModel"  [(ngModel)]="candidat.mobilite"type="text" name="Mobilite" required>
                        </div>


                    </div>

                </div>
               
        </div>

        <div class="w3-half">
            <div class="w3-container" id="contact" style="margin-top:75px">
                <br>
                <br>
                <br><br><br><br>
                <div class="card "
                    style="background-color:  rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <div class="w3-section">
                        <h2>Coordonnées</h2>
                        <label>adress mail</label>
                        <input class="w3-input w3-border"  #email="ngModel" [(ngModel)]="candidat.email" type="text" name="Email" required>
                    </div>
                    <div class="w3-section">
                        <label>Telephonne</label>
                        <input class="w3-input w3-border"  #telephonne="ngModel" [(ngModel)]="candidat.telephonne" type="number" name="Telephonne" required>
                    </div>

                    <div class="w3-section">
                        <label>Adress</label>
                        <input class="w3-input w3-border"  #adress="ngModel" [(ngModel)]="candidat.adress" type="text" name="Adress" required>
                    </div>
                    <div class="w3-section">
                        <label>Ville</label>
                        <input class="w3-input w3-border"  #ville="ngModel" [(ngModel)]="candidat.ville" type="text" name="Ville" required>
                    </div>
                    <div class="w3-section">
                        <label>Code postal</label>
                        <input class="w3-input w3-border"  #code_postal="ngModel" [(ngModel)]="candidat.code_postal" type="number" name="code" required>
                    </div>
                    <div class="w3-section">
                        <label>pays</label>
                        <input class="w3-input w3-border"  #pays="ngModel" [(ngModel)]="candidat.pays" type="text" name="pays" required>
                    </div>

                </div>
            </div>
        </div>
        <div class="w3-container" id="contact" style="margin-top:75px">
            <div class="w3-container" id="contact" style="margin-top:40px">
                <div class=" card "
                    style="background-color: rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <div class="w3-section ">
                        <h2>Etat candidat</h2>
                        <label>etat candidat</label>
                        <input class="w3-input w3-border " #libellet="ngModel" [(ngModel)]="candidat.libellet" type="text " name="etat " required>
                    </div>
                    <div class="w3-section ">
                        <label>Evaluation</label>
                        <input class="w3-input w3-border "#evaluation="ngModel" [(ngModel)]="candidat.evaluation" type="number " name="Evaluation " required>
                    </div>
                    <div class="w3-section ">
                        <label>Provenance</label>
                        <input class="w3-input w3-border "#provenance="ngModel" [(ngModel)]="candidat.provenance"  type="number " name="code " required>
                    </div>

                    <div class="w3-section ">
                        <label>Responsable manager</label>
                        <input class="w3-input w3-border " #responsable_manager="ngModel" [(ngModel)]="candidat.responsable_manager"type="text " name="Responsable " required>
                    </div>
                    <div class="w3-section ">
                        <label>Agence</label>
                        <input class="w3-input w3-border "#agence="ngModel" [(ngModel)]="candidat.agence" type="text " name="Agence " required>
                    </div>
                    <div class="w3-section ">
                        <label>Commentaire</label>
                        <input class="w3-input w3-border "#commentaire="ngModel" [(ngModel)]="candidat.commentaire" type="textarea" name=" Commentaire" class="form-control "
                            rows="3 " required>
                    </div>



                </div>
            </div>


        </div>


    </div>
    <button type="submit " class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom ">Créer
        candidat</button>
</form>



</div>