<!-- Photo grid (modal) -->
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <form #f="ngForm" (ngSubmit)="modifier()">

    <div class="w3-row-padding">

        <div class="w3-half">
                <div class="w3-container" id="contact" style="margin-top:75px">
                    <h1 class="w3-xxxlarge w3-text-red"><b>Modifier une Société.</b></h1>
                    <hr style="width:50px;border:5px solid red" class="w3-round">
                    <div class="card "
                        style="background-color:  rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">


                        <div class="w3-section">
                            <h2>information personelle</h2>
                            <label>Nom</label>
                            <input class="w3-input w3-border" #nom="ngModel" [(ngModel)]="societe.nom"type="text" name="nom" required>
                        </div>
                        <div class="w3-section">
                            <label>Effectif</label>
                            <input class="w3-input w3-border" #effectif="ngModel" [(ngModel)]="societe.effectif"type="number" name="effectif" required>
                        </div>

                        <div class="w3-section">
                            <label>Sociéte mére</label>
                            <input class="w3-input w3-border" #societe_mere="ngModel" [(ngModel)]="societe.societe_mere" type="text" name="Prenom" required>
                        </div>
                        <div class="w3-section">
                            <label>Agence</label>
                            <input class="w3-input w3-border" #agence="ngModel" [(ngModel)]="societe.agence"type="text" name="naissance" required>
                        </div>
                        <div class="w3-section">
                            <label>secteur</label>
                            <input class="w3-input w3-border" #secteur="ngModel"  [(ngModel)]="societe.secteur"type="text" name="secteur" required>
                        </div>
                        <div class="w3-section">
                            <label>provenance</label>
                            <input class="w3-input w3-border" #provenance="ngModel"  [(ngModel)]="societe.provenance"type="text" name="provenance" required>
                        </div>


                    </div>

                </div>
               
        </div>

        <div class="w3-half">
            <div class="w3-container" id="contact" style="margin-top:75px">
                <br>
                <br>
                <br><br><br><br>
                <div class="card "
                    style="background-color:  rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <div class="w3-section">
                        <h2>Coordonnées</h2>
                        <label>Site web</label>
                        <input class="w3-input w3-border"  #site_web="ngModel" [(ngModel)]="societe.site_web" type="text" name="site_web" required>
                    </div>
                    <div class="w3-section">
                        <label>Telephonne</label>
                        <input class="w3-input w3-border"  #telephonne="ngModel" [(ngModel)]="societe.telephonne" type="number" name="Telephonne" required>
                    </div>

                    <div class="w3-section">
                        <label>Adress</label>
                        <input class="w3-input w3-border"  #adress="ngModel" [(ngModel)]="societe.adress" type="text" name="Adress" required>
                    </div>
                    <div class="w3-section">
                        <label>Ville</label>
                        <input class="w3-input w3-border"  #ville="ngModel" [(ngModel)]="societe.ville" type="text" name="Ville" required>
                    </div>
                    <div class="w3-section">
                        <label>Code postal</label>
                        <input class="w3-input w3-border"  #code_postal="ngModel" [(ngModel)]="societe.code_postal" type="number" name="code" required>
                    </div>
                    <div class="w3-section">
                        <label>pays</label>
                        <input class="w3-input w3-border"  #pays="ngModel" [(ngModel)]="societe.pays" type="text" name="pays" required>
                    </div>

                </div>
            </div>
        </div>
        <div class="w3-container" id="contact" style="margin-top:75px">
            <div class="w3-container" id="contact" style="margin-top:40px">
                <div class=" card "
                    style="background-color: rgb(246, 237, 226);border:20px ;border: medium ;padding: 20px; ">

                    <div class="w3-section ">
                        <h2>Etat societe</h2>
                        <label>Statut juridique</label>
                        <input class="w3-input w3-border " #statut_juridique="ngModel" [(ngModel)]="societe.statut_juridique" type="text " name="statut_juridique " required>
                    </div>
                    <div class="w3-section ">
                        <label>TVA IC</label>
                        <input class="w3-input w3-border "#tva_ic="ngModel" [(ngModel)]="societe.tva_ic" type="text " name="tva_ic " required>
                    </div>
                    <div class="w3-section ">
                        <label>Siret</label>
                        <input class="w3-input w3-border "#siret="ngModel" [(ngModel)]="societe.siret"  type="text " name="code " required>
                    </div>

                    <div class="w3-section ">
                        <label>Code APE</label>
                        <input class="w3-input w3-border " #code_ape="ngModel" [(ngModel)]="societe.code_ape"type="text " name="code_ape " required>
                    </div>
                    <div class="w3-section ">
                        <label>Etat societe</label>
                        <input class="w3-input w3-border "#etat_societe="ngModel" [(ngModel)]="societe.etat_societe" type="text " name="etat_societe " required>
                    </div>
                    <div class="w3-section ">
                        <label>Ressource</label>
                        <input class="w3-input w3-border "#ressource="ngModel" [(ngModel)]="societe.ressource" type="text" name="ressource" class="form-control "
                            rows="3 " required>
                    </div>



                </div>
            </div>


        </div>


    </div>
    <button type="submit " class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom ">Modifier
        societe</button>
</form>



</div>