<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <h2 style="color: white;">Ajouter societe</h2>
                <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
          <i class="material-icons">more_vert</i>
        </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action
                    </li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here
                    </li>
                </ul>
            </div>

            <!--  show msg erreur errormsg-->
            <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong style="color: black;">{{ errormsg }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!--  show msg success message -->
            <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong style="color: black;">{{ successmsg }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form [formGroup]="societeForm" (ngSubmit)="addSociete()">
                <fieldset>
                    <div class="card-body row">
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="nom" required>
                                <label class="mdl-textfield__label">nom</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="effectif" type="number" required>
                                <label class="mdl-textfield__label">effectif</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="societe_mere" type="text" required>
                                <label class="mdl-textfield__label">societe_mere</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="id_secteur" type="text" required>
                                <label class="mdl-textfield__label">secteur</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="id_provenance" type="text" required>
                                <label class="mdl-textfield__label">Provenance</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="agence" type="text" required>
                                <label class="mdl-textfield__label">agence</label>
                            </div>
                        </div>





                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="telephonne" type="text" required>
                                <label class="mdl-textfield__label">Telephonne</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="site_web" type="text" required>
                                <label class="mdl-textfield__label">site web</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="adress" type="text" required>
                                <label class="mdl-textfield__label">Adress</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="code_postal" type="text" required>
                                <label class="mdl-textfield__label">Code postal</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="ville" type="text" required>
                                <label class="mdl-textfield__label">Ville</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="pays" type="text" required>
                                <label class="mdl-textfield__label">Pays</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                <input class="mdl-textfield__input" formControlName="statut_juridique" type="text " required>
                                <label class="mdl-textfield__label ">statut_juridique</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20 ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width ">
                                <input class="mdl-textfield__input " formControlName="tva_ic" type="text " required>
                                <label class="mdl-textfield__label ">tva_ic</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20 ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width ">
                                <input class="mdl-textfield__input " formControlName="siret" type="text " required>
                                <label class="mdl-textfield__label ">siret</label>
                            </div>
                        </div>
                        <div class="col-lg-6 p-t-20 ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width ">
                                <input class="mdl-textfield__input " formControlName="code_ape" type="text " required>
                                <label class="mdl-textfield__label ">code_ape</label>
                            </div>
                        </div>

                        <div class="col-lg-6 p-t-20 ">
                            <div class="d-grid">

                                <select class="" style="color: rgb(216, 215, 219); " formControlName="id_ressource">
                  <option value="" selected disabled hidden>Choisir Ressource </option>
                  <option *ngFor="let ressource of ressources " value="{{ressource.id_ressource}} " >
                    {{ressource.id_ressource}}_  {{ressource.prenom}} {{ressource.nom}}
                  </option>
                </select>
                            </div>
                        </div>








                        <div class="col-lg-12 p-t-20 text-center ">
                            <button type="btn " class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20  " style="background-color:hsl(28, 82%, 53%)  ;">Submit</button>
                        </div>



                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
